<div class="input__container">
  {{#if icon }}
    <span class="input__icon"><span class="material-symbols-outlined" aria-hidden="true">{{icon}}</span></span>
    <input class="input__custom input__has_icon" placeholder="{{placeholder}}" name="{{name}}" type="{{type}}"></input>
  {{else}}
    <input class="input__custom " placeholder="{{placeholder}}" name="{{name}}" type="{{type}}"></input>
  {{/if}}
</div>


